node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Static files
/sub-servers/static-user/static # remove_in_deploy_branch_by_script
/sub-servers/static-editor/static # remove_in_deploy_branch_by_script
/sub-servers/static-admin/static # remove_in_deploy_branch_by_script
